<%= form_with(model: todo, data: {controller: "todo"}, html: {id: 'todo_form'}) do |f| %>
  <%= f.text_field :title, :"data-todo-target" => 'focus'  %>
  <%= f.button data: {action: "click->todo#submit"} %>
<% end %>
<hr>
<% if todo.errors.any? %>
  <ul>
    <% todo.errors.full_messages.each do |erro| %>
      <li><%= erro %></li>
    <% end %>
  </ul>
<% end %>
