<div class="row" data-controller="todo">
<div class="col-12">
  <%= render 'form', todo: @todo %>
</div>

<div data-controller="todo" class="col-12">
<h1 id="count" class="title">Todos - <%= @count %></h1>
<h4 id="completed">Completes - <%= Todo.completed %></h4>
</div>

<div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Active ?</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody class="todos-row">
        <%= render @todos %>
      </tbody>
    </table>
</div>

</div>
