<div class="row justify-content-center" data-controller="todo">
<div class="col-12" id="todo_form">
  <%= render 'form', todo: @todo %>
</div>

<div data-controller="todo" class="col-12" id="todos">

    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Completed ?</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody class="todos-row">
        <%= render @todos %>
        <tr>
          <td colspan="2">Total: <%= @count %></td>
          <td colspan="2" id="completed">Completed: <%= Todo.completed %></td>
        </tr>
      </tbody>
    </table>
</div>

</div>
