<div class="Todos" data-controller="todo">
<%= render 'form', todo: @todo %>

<div data-controller="todo">
<h1 id="count">Todos - <%= @count %></h1>
<h4 id="completed">Completes - <%= Todo.completed %></h4>
</div>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Active ?</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody class="todos-row">
    <%= render @todos %>
  </tbody>
</table>


</div>
